Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

docs: improve configuration documentation and examples
  README.md
  config.example.yml
Due: none

docs: improve audit and maintenance checklists
  .claude/rules/audit.md
  .claude/rules/maintain.md
Due: none

chore: update `.semrelrc`
  .semrelrc
Due: none

docs: optimize Claude instruction files for minimal token usage
  .claude/rules/audit.md
  .claude/rules/implement.md
  .claude/rules/maintain.md
  .claude/skills/audit/SKILL.md
  .claude/skills/implement/SKILL.md
  .claude/skills/maintain/SKILL.md
  AI_DEVELOPMENT.md
  CLAUDE.md
Due: none

chore(deps): update root dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): update telemetry-backend dependencies
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: update telemetry backend

ci: remove self-trigger on .gitlab-ci.yml changes
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs: add pnpm dlx rule and telemetry-backend verification step
  CLAUDE.md
Due: none

test: add env var generation tests for config
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: resolve paths from git root in telemetry-backend shell scripts
  telemetry-backend/start.sh
  telemetry-backend/update.sh
Due: update telemetry backend

chore: simplify telemetry-backend checklist in implement rules
  .claude/rules/implement.md
Due: none

refactor(telemetry-backend): extract utility functions into utils.ts
  telemetry-backend/src/index.ts
  telemetry-backend/src/utils.ts
Due: update telemetry backend

fix: added installation-unique salt for telemetry hash
  src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: update telemetry description with HMAC-SHA-256 details
  README.md
Due: none

fix(telemetry-backend): flatten scanIterator batches for node-redis v5
  telemetry-backend/src/index.ts
Due: update telemetry backend

test(telemetry-backend): add Vitest suite covering utils, routes, and badge generation
  .claude/rules/implement.md
  CLAUDE.md
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/fake-redis.ts
  telemetry-backend/tests/utils.test.ts
  telemetry-backend/tsconfig.build.json
  telemetry-backend/tsconfig.json
  telemetry-backend/vitest.config.ts
Due: update telemetry backend

feat(config): add telemetry opt-out via E2M_TELEMETRY_ENABLED
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/version-checker.ts
  tests/config.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: replace unsafe `as` casts with runtime type guards
  src/appliances/comfort600.ts
  src/electrolux.ts
  tests/appliances/comfort600.test.ts
  tests/electrolux.test.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(health): suppress repeated write-failure warnings
  src/health.ts
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: replace indexed for loops with for...of entries()
  src/index.ts
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(.claude): move CLAUDE.md to .claude/ and add specialized subagents
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/MEMORY.md
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/auditor/doc_sync_gaps.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/rules/implement.md
  .claude/settings.json
  .claude/skills/audit/SKILL.md
  .claude/skills/maintain/SKILL.md
  .gitignore
  AI_DEVELOPMENT.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

fix(vitest): exclude telemetry-backend from root test run
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: resolve SonarQube unexpected negated condition findings
  src/config.ts
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(sonar): wait for quality gate result in local scan
  sonar-project.properties
Due: none

fix(vitest): suppress pino output during test runs
  tests/logger.test.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore: add deps:check and deps:update scripts to telemetry-backend
  telemetry-backend/package.json
Due: update telemetry backend

docs(.claude): align maintainer agent survey step with pnpm scripts
  .claude/agents/auditor.md
  .claude/agents/maintainer.md
  .claude/skills/audit/SKILL.md
Due: none

docs(.claude): add Docker base image version check to maintain skill
  .claude/CLAUDE.md
  .claude/agents/maintainer.md
  .claude/skills/maintain/SKILL.md
Due: none

chore: add recommended VS Code extensions
  .vscode/extensions.json
Due: none

chore(.githooks): remove dead code and fix path/field bugs
  .githooks/common.sh
  .githooks/postinstall.sh
  .githooks/pre-commit
Due: none

docs(readme): link HMAC-SHA-256 hash mention to source
  README.md
Due: none

ci(sonar): fix cache, add timeout/retry, drop no-op docker login
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

test: replace tautological tests and add missing error scenarios
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/health.test.ts
  tests/logger.test.ts
  tests/orchestrator.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix(audit): address all audit findings
  .gitlab-ci.yml
  CONTRIBUTING.md
  SONARQUBE.md
  docker/Dockerfile
  src/types.d.ts
  telemetry-backend/src/app.ts
  tests/fixtures/api-responses.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

refactor(.claude): move implement.md file checklists into engineer agent
  .claude/CLAUDE.md
  .claude/agents/engineer.md
  .claude/rules/implement.md
  AI_DEVELOPMENT.md
Due: none

docs(.claude): compress instruction files to caveman style
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/MEMORY.md
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/auditor/doc_sync_gaps.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/skills/audit/SKILL.md
  .claude/skills/maintain/SKILL.md
Due: none

docs(.claude): further compress and deduplicate instruction files
  .claude/CLAUDE.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/skills/audit/SKILL.md
  .claude/skills/maintain/SKILL.md
  AI_DEVELOPMENT.md
  CONTRIBUTING.md
Due: none

docs(.claude): reconcile auditor memory after audit run
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/auditor/doc_sync_gaps.md
Due: none

fix(resilience): prevent unhandled rejections on DNS failure
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat(health): track API failures and trigger controlled restart
  .claude/agents/engineer.md
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/health.ts
  src/index.ts
  src/orchestrator.ts
  tests/config.test.ts
  tests/health.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release
