Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

refactor(telemetry-backend): serve badge SVGs as static files via nginx
  .gitignore
  telemetry-backend/Dockerfile
  telemetry-backend/README.md
  telemetry-backend/docker-compose.yml
  telemetry-backend/nginx/reverse-proxy.conf
  telemetry-backend/src/badge-store.ts
  telemetry-backend/src/config.ts
  telemetry-backend/src/index.ts
  telemetry-backend/src/server.ts
  telemetry-backend/tests/badge-store.test.ts
  telemetry-backend/tests/config.test.ts
  telemetry-backend/tests/server.test.ts
Due: update telemetry backend

chore(sops): sync the age key to GitLab CI and add PAT rotation
  .claude/agent-memory/shared/project_sops_secrets.md
  .env.enc
  .gitlab/ci/04_release.yml
  ci/decrypt-env.sh
  package.json
  scripts/gitlab-set-ci-var.sh
  scripts/op-ensure-signin.sh
  scripts/rotate-gitlab-pat.sh
  scripts/sops-rotate.sh
  scripts/sync-ci-age-key.sh
  telemetry-backend/.env.enc
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix(telemetry-backend): coerce ClickHouse string counts to numbers
  telemetry-backend/src/clickhouse.ts
  telemetry-backend/tests/clickhouse.test.ts
Due: update telemetry backend

fix(telemetry-backend): map legacy userHash to a UUID sessionId so Aptabase ingests it
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/aptabase_sessionid_guid.md
  telemetry-backend/README.md
  telemetry-backend/src/aptabase.ts
  telemetry-backend/tests/aptabase.test.ts
  telemetry-backend/tests/server.test.ts
Due: update telemetry backend

fix(telemetry-backend): give each legacy install its own Aptabase user_id
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/aptabase_sessionid_guid.md
  telemetry-backend/README.md
  telemetry-backend/src/aptabase.ts
  telemetry-backend/tests/aptabase.test.ts
Due: update telemetry backend

feat(telemetry): steady rolling-window user count with a stable per-install id
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_steady_user_count.md
  README.md
  config.example.yml
  src/index.ts
  src/telemetry.ts
  src/version-checker.ts
  telemetry-backend/README.md
  telemetry-backend/src/clickhouse.ts
  telemetry-backend/tests/badge-store.test.ts
  telemetry-backend/tests/clickhouse.test.ts
  tests/telemetry.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix(telemetry-backend): regenerate badges after a release via a one-shot exec
  .gitlab/ci/04_release.yml
  telemetry-backend/src/regenerate-badges.ts
Due: update telemetry backend

fix(telemetry): sort appliance models with locale-aware compare
  src/telemetry.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test(version-checker): use toHaveLength for body length assertion
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs(readme): point Active Users badge to the telemetry page
  README.md
Due: none

fix(scripts): don't let pipefail abort mr-description before the no-tag message
  scripts/mr-description.sh
Due: none

fix(orchestrator): normalize cached state before HA-birth and reconnect republish
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_state_cache_shape.md
  src/appliances/normalizers.ts
  src/electrolux.ts
  src/orchestrator.ts
  tests/appliances/normalizers.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(electrolux): dedupe concurrent auth and fix post-command state handling
  src/electrolux.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(index): back off startup retries and skip redundant re-login
  src/index.ts
  tests/index.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): skip overlapping polls and stale re-init timers
  src/orchestrator.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(appliances): validate MQTT command payloads at the boundary
  src/appliances/comfort600.ts
  src/appliances/normalizers.ts
  src/orchestrator.ts
  tests/appliances/normalizers.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(config): treat empty numeric env vars as unset, validate ntfy URL
  src/config.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(version-checker): retry failed ntfy sends, pick latest by version
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(mqtt): guard the debug-only JSON.parse in autoDiscovery
  src/mqtt.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(logger): locale-independent timestamps, config-only log level
  src/logger.ts
  tests/logger.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(canonical-stringify): JSON.stringify parity for undefined values
  src/canonical-stringify.ts
  tests/canonical-stringify.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(health): honor YAML-configured health check in Docker HEALTHCHECK
  docker/Dockerfile
  src/health.ts
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(docker): exclude nested env files, optional CHANGELOG, ro mounts
  .dockerignore
  README.md
  docker/Dockerfile
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry-backend): harden IP trust, routing, badge regeneration
  telemetry-backend/src/aptabase.ts
  telemetry-backend/src/badge-store.ts
  telemetry-backend/src/badges.ts
  telemetry-backend/src/config.ts
  telemetry-backend/src/index.ts
  telemetry-backend/src/ip.ts
  telemetry-backend/src/rate-limit.ts
  telemetry-backend/src/regenerate-badges.ts
  telemetry-backend/src/server.ts
  telemetry-backend/tests/badges.test.ts
  telemetry-backend/tests/ip.test.ts
  telemetry-backend/tests/rate-limit.test.ts
  telemetry-backend/tests/server.test.ts
Due: update telemetry backend

ci: fix builder cleanup, audit gate, tag fetch, deploy host key
  .gitlab-ci.yml
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/04_release.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix(scripts): portable sed, sonar token hygiene, safer failure paths
  scripts/sonar.sh
  scripts/sops-env.sh
  scripts/sops-rotate.sh
  scripts/sync-versions.sh
Due: none

chore: pin sops/age versions, cover script artifacts in gitignore
  .gitignore
  mise.toml
Due: none

chore(deps): bump biome 2.5.2, vite 8.1.2, clickhouse client 1.23.0
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs: sync telemetry window, mise toolchain, release-gate description
  .claude/CLAUDE.md
  .claude/agent-memory/shared/audit_heuristics.md
  README.md
  config.example.yml
Due: none

refactor(version-checker): extract ntfy send to cut complexity
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump patch/minor deps, close 2 vulns
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(deps): bump typescript to v7 (native compiler)
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/agent-memory/shared/dep_typescript7_native.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

test(health): fix flaky doMock race with mutable hoisted config
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: parameterize repeated test cases
  tests/appliances/comfort600.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

build: have sync-versions own the @types/node pin
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/skills/maintain/SKILL.md
  docs/CONTRIBUTING.md
  package.json
  scripts/sync-versions.sh
  telemetry-backend/package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: stop treating deviceId as a required state field
  .claude/agent-memory/shared/audit_heuristics.md
  src/appliances/normalizers.ts
  src/types.d.ts
  src/types/normalized.ts
  tests/appliances/normalizers.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: block commits on a branch that is behind origin
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/feedback_fetch_before_commit.md
  .claude/hooks/require-branch-sync.sh
  .claude/settings.json
Due: none

chore(deps): bump pnpm to 11.18.0 and biome to 2.5.6
  .claude/agent-memory/shared/vuln_esbuild_GHSA-gv7w-rqvm-qjhr.md
  .claude/agent-memory/shared/vuln_ws_GHSA-58qx-3vcg-4xpx.md
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

build: hold @types/node with updateConfig.ignoreDependencies
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/audit_heuristics.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/skills/maintain/SKILL.md
  docs/CONTRIBUTING.md
  pnpm-workspace.yaml
  scripts/sync-versions.sh
  telemetry-backend/pnpm-workspace.yaml
Due: update telemetry backend

docs: record the October 2026 Node 26 LTS window
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_node26_lts_window.md
Due: none

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
