Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - CHANGELOG
    expire_in: never
  script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  - echo "Node version from .nvmrc:" && cat .nvmrc
  - node --version
  - npm --version
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  before_script:
  - echo "Running linter checks..."
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  before_script:
  - echo "Running security audit..."
  ...

try to build docker images:
  stage: build
  image: docker:latest
  interruptible: true
  cache: []
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  services:
  - docker:dind
  before_script:
  - apk add --no-cache qemu qemu-system-x86_64
  script:
  - source build.env
  - docker buildx create --use
  ...

create gitlab release:
  stage: release
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  needs:
  - job: initialise variables
    artifacts: false
  - job: bump version
    artifacts: true
  script:
  - semantic-release

build and deploy docker images:
  stage: release
  image: docker:latest
  interruptible: true
  cache: []
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  services:
  - docker:dind
  before_script:
  - apk add --no-cache qemu qemu-system-x86_64
  ...

fix(ci): resolve biome, docker registry, and test environment issues
  .gitignore
  .gitlab-ci.yml
  Dockerfile
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix(config): skip process.exit in validation during tests
  .gitlab-ci.yml
  src/config.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore: ignore all `**config.yml**`
  .gitignore
Due: none

chore: fixing `test building docker` job
  .gitlab-ci.yml
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix(test): adjust coverage thresholds for mixed legacy + new code
  vitest.config.ts
Due: test

docs(ci): document coverage tracking and regression protection
  CONTRIBUTING.md
Due: none

chore(deps): move tsx to devDependencies and remove unused js-yaml
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

ci: print CHANGELOG in `bump version`
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

ci(release): ensure semantic-release sees full git history and tags
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix(state): preserve mode across off/on and command transitions
  src/electrolux.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

fix: reduce redundant "found appliance(s)" spam
  src/electrolux.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

feat(logging): add skipCacheLogging config option
  src/cache.ts
  src/config.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

docs: add skipCacheLogging configuration to examples
  README.md
  config.example.yml
  docker-compose.example.yml
  docker-compose.local.example.yml
Due: initialise variables, bump version, try to build docker images, create gitlab release, build and deploy docker images

refactor(electrolux): reduce cognitive complexity and optimize state management
  src/electrolux.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

chore(tests): improve tests, add e2e test
  .gitignore
  .gitlab-ci.yml
  package.json
  sonar-project.properties
  src/config.ts
  src/electrolux.ts
  src/types.d.ts
  tests/appliances/base.test.ts
  tests/appliances/comfort600.test.ts
  tests/appliances/factory.test.ts
  tests/appliances/normalizers-extended.test.ts
  tests/cache.test.ts
  tests/config.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/fixtures/api-responses.ts
  tests/logger.test.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix: prevent state reset during temporary API/network errors
  .vscode/settings.json
  src/electrolux.ts
  src/index.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

chore: modify `test` to include coverage, add e2e test documentation
  .gitlab-ci.yml
  CONTRIBUTING.md
  README.md
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore(tests): skip 2 failing tests if on CICD
  tests/electrolux.test.ts
Due: test, lint

fix(ci): job triggers
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

docs: add `SonarQube Cloud` link
  README.md
Due: none

ci: run jobs on merge requests
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

ci: optimize pipeline rules
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix(jwt): force renew tokens on 403 response
  src/electrolux.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

ci: improve SonarQube setup
  .gitlab-ci.yml
  .sonarlint/connectedMode.json
  SONARQUBE.md
  package.json
  sonar-project.properties
  tests/electrolux.test.ts
  tests/mqtt.test.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore: increase test coverage thresholds
  sonar-project.properties
  vitest.config.ts
Due: test

fix(ci): grab test coverage result
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

docs: add SonarQube shields
  README.md
Due: none

fix(test): add missing assertion
  tests/electrolux.test.ts
Due: test, lint

fix(test): improve coverage, separate e2e thresholds
  .gitlab-ci.yml
  src/electrolux.ts
  tests/electrolux.test.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

fix(ci): make jobs work on private runner
  .gitlab-ci.yml
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore: cleaning up repository root
  .gitlab-ci.yml
  README.md
  docker/Dockerfile
  docker/Dockerfile.local
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  package.json
  scripts/postinstall.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore: remediate "Supply Chain Attestations"
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

chore(deps): update dependencies to latest versions
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, try to build docker images, create gitlab release, build and deploy docker images

feat(config): implement Zod schema validation for configuration
  src/config.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

refactor(init): simplify initialization and version logging
  src/index.ts
  src/init.ts
  src/logger.ts
Due: initialise variables, bump version, test, lint, try to build docker images, create gitlab release, build and deploy docker images

test: add test configuration files and improve test coverage
  .gitignore
  tests/config.yml
  tests/tokens.json
  vitest.config.ts
Due: test, lint

test: add comprehensive test coverage for core modules
  tests/appliances/normalizers.test.ts
  tests/init.test.ts
  tests/mqtt-events.test.ts
Due: test, lint

test: improve existing test suites with better coverage
  tests/electrolux.test.ts
  tests/mqtt.test.ts
Due: test, lint

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, docker-compose*.yml, Dockerfile, entrypoint.sh
  bump version: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, docker-compose*.yml, Dockerfile, entrypoint.sh
  install dependencies: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  test: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts
  lint: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, biome.jsonc
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  try to build docker images: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, docker-compose*.yml, Dockerfile, entrypoint.sh
  create gitlab release: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, docker-compose*.yml, Dockerfile, entrypoint.sh
  build and deploy docker images: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml, src/**/*, docker-compose*.yml, Dockerfile, entrypoint.sh
