Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

fix: prevent getTimezone from returning undefined when localtime regex fails
  src/logger.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: remove dead fields from tokensSchema
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: consolidate normalizer tests into single file
  tests/appliances/normalizers.test.ts
  tests/normalizers.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs: expand rules, sync coverage claims, and update guidelines
  .claude/rules/implementation.md
  .claude/rules/review.md
  .claude/settings.json
  .claude/skills/implement/SKILL.md
  CLAUDE.md
  CONTRIBUTING.md
  README.md
Due: none

docs: deduplicate rules and move TDD to implementation.md
  .claude/rules/implementation.md
  .claude/skills/implement/SKILL.md
  CLAUDE.md
Due: none

docs: rename rules/skills, add maintain workflow and AI development docs
  .claude/rules/audit.md
  .claude/rules/implement.md
  .claude/rules/maintain.md
  .claude/skills/audit/SKILL.md
  .claude/skills/implement/SKILL.md
  .claude/skills/maintain/SKILL.md
  AI_DEVELOPMENT.md
  CLAUDE.md
Due: none

chore: update vitest, pnpm, and add SonarQube script
  .env.example
  .gitignore
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: make MQTT subscribe return a promise
  src/mqtt.ts
  tests/mqtt-events.test.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: consolidate config schema as single source of truth
  config.example.yml
  src/config.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat: add health check module and extract orchestrator from index
  src/health.ts
  src/index.ts
  src/orchestrator.ts
  tests/health.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat: add command validation and improve appliance denormalization
  src/appliances/base.ts
  src/appliances/comfort600.ts
  src/electrolux.ts
  src/version-checker.ts
  tests/appliances/comfort600.test.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: harden telemetry backend with non-root user and build config
  telemetry-backend/Dockerfile
  telemetry-backend/package.json
  telemetry-backend/src/index.ts
  telemetry-backend/tsconfig.build.json
Due: update telemetry backend

docs: sync documentation and docker examples with code changes
  CONTRIBUTING.md
  HOME_ASSISTANT.md
  README.md
  docker/Dockerfile
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: try to build docker images, build and deploy docker images, create gitlab release

fix: reject fan speed changes when trigger access is read-only
  src/appliances/comfort600.ts
  tests/appliances/comfort600.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: organize E2E snapshots by model directory
  .claude/rules/audit.md
  tests/e2e/electrolux-api.e2e.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

feat: derive modes/fans/swings from capabilities and validate all constraints
  src/appliances/comfort600.ts
  tests/appliances/comfort600.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat: add revertStateOnRejection config option (default: false)
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: cover both revertStateOnRejection true and false cases
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: add config tests for healthCheck and revertStateOnRejection
  tests/appliances/comfort600.test.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs: add env vars reference table and fix doc gaps
  CONTRIBUTING.md
  README.md
  sonar-project.properties
Due: none

test: improve coverage for appliance validation and normalizers
  tests/appliances/base.test.ts
  tests/appliances/comfort600.test.ts
  tests/appliances/normalizers.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: add assertion to orchestrator discovery error test
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: skip Docker HEALTHCHECK when health check is disabled
  docker/Dockerfile
Due: try to build docker images, build and deploy docker images, create gitlab release

fix: update telemetry cache before badge write to prevent empty responses
  telemetry-backend/Dockerfile
  telemetry-backend/src/index.ts
Due: update telemetry backend

chore: default healthCheck.enabled to true
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: add testing rules for mandatory assertions
  .claude/rules/audit.md
  CLAUDE.md
Due: none

docs: rename project title to generic Electrolux to MQTT
  README.md
Due: none

ci: add release candidate pipeline for next branch
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: improve Docker HEALTHCHECK startup responsiveness
  docker/Dockerfile
Due: try to build docker images, build and deploy docker images, create gitlab release

fix: add MQTT awareness to health check and reduce staleness threshold
  docker/Dockerfile
  src/health.ts
  src/orchestrator.ts
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: update axios 1.13.6 → 1.14.0
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: add Docker base image check to maintenance checklist
  .claude/rules/maintain.md
Due: none

chore: add no-cache headers for badge SVG in nginx config
  telemetry-backend/nginx/reverse-proxy.conf
Due: update telemetry backend

chore: move telemetry rate limiting to Redis and improve IP detection
  telemetry-backend/README.md
  telemetry-backend/src/index.ts
Due: update telemetry backend

docs: fix conflicting HEALTH_CHECK_ENABLED default in docker-compose examples
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: none

fix: update dependencies and fix vite vulnerabilities
  package.json
  pnpm-lock.yaml
  src/cache.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: improve telemetry deploy script readability
  telemetry-backend/start.sh
Due: update telemetry backend

chore: update telemetry backend to Node16 module resolution
  telemetry-backend/tsconfig.json
Due: update telemetry backend

chore: split telemetry deploy into start and update scripts
  .gitlab-ci.yml
  telemetry-backend/start.sh
  telemetry-backend/update.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: update dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release
