Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

test: add `showTimestamp` config and logger tests
  tests/config.test.ts
  tests/config.yml
  tests/logger.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore: update dev dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: grant `node` user write access to `/app` in Docker
  docker/Dockerfile
Due: try to build docker images, build and deploy docker images, create gitlab release

fix: run `corepack enable` as root in local Dockerfile
  docker/Dockerfile.local
Due: none

fix: update CI/CD `changes` patterns to match actual file paths
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: use single `COPY` in Dockerfile runner stage for shell-less image
  docker/Dockerfile
Due: try to build docker images, build and deploy docker images, create gitlab release

fix: gracefully handle read-only filesystem when creating config
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: add coverage for config read-only filesystem fallback
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: improve coverage for mqtt and config new code paths
  tests/config.test.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: fix type errors, formatting, and improve coverage across test suite
  tests/appliances/comfort600.test.ts
  tests/appliances/factory.test.ts
  tests/cache.test.ts
  tests/electrolux.test.ts
  tests/logger.test.ts
  tests/mqtt.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: suppress Pino logger output in tests by default
  src/logger.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: fix table formatting and update coverage threshold in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

test: add assertion to periodic error handling test case
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: patch security vulnerabilities in dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: improve logger branch coverage for new LOG_LEVEL and showTimestamp paths
  tests/logger.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs: add Claude Code configuration, rules, and skills
  .claude/rules/implementation.md
  .claude/rules/review.md
  .claude/settings.json
  .claude/skills/audit/SKILL.md
  .claude/skills/implement/SKILL.md
  CLAUDE.md
Due: none

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat: enable noUncheckedIndexedAccess and fix unsafe index access
  src/electrolux.ts
  src/version-checker.ts
  tsconfig.json
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: update API types and remove dead SanitizedState type
  src/types.d.ts
  src/types/normalized.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: remove dead LRU re-export from cache module
  src/cache.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat: add logLevel config option and sync example files
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/logger.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: add coverage for malformed JWT token parsing
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: correct default QoS fallback to match documented default
  src/mqtt.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: raise coverage thresholds to match actual coverage
  vitest.config.ts
  vitest.setup.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

refactor: remove dead FAIR variant from LinkQuality type
  src/types.d.ts
  src/types/normalized.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: remove dead eslint-disable comment from logger
  src/logger.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: validate normalizer inputs against known values
  src/appliances/normalizers.ts
  tests/normalizers.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry): multi-stage Dockerfile, payload limit, dead code cleanup
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
  telemetry-backend/src/index.ts
Due: update telemetry backend

fix: correct refreshInterval example to match documented default of 30s
  config.example.yml
Due: none

docs: update project rules with audit findings
  .claude/rules/implementation.md
  .claude/rules/review.md
  CLAUDE.md
Due: none

refactor(telemetry): simplify nginx config to single HTTP server block
  telemetry-backend/nginx/reverse-proxy.conf
Due: update telemetry backend

docs: remove irrelevant rules and add telemetry verification note
  .claude/rules/review.md
  CLAUDE.md
Due: none

refactor: split NormalizedState into base and climate field interfaces
  src/appliances/normalizers.ts
  src/types/normalized.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: remove generic type parameter from Cache class
  src/cache.ts
  tests/cache.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: replace unsafe as casts with runtime type guards in ElectroluxClient
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: deduplicate rules across instruction files
  .claude/rules/implementation.md
  CLAUDE.md
Due: none

docs: fix review wording and minor rule updates
  .claude/rules/implementation.md
  .claude/rules/review.md
  .claude/skills/implement/SKILL.md
Due: none

refactor: replace toLowercase casts with type-safe normalizer functions
  src/appliances/normalizers.ts
  src/types/homeassistant.ts
  src/types/normalized.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: add exponential backoff to retries and normalize MQTT commands
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: add implements IMqtt and remove dead fields from Mqtt class
  src/mqtt.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
