Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  - job: install dependencies
    artifacts: false
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key: ${CI_JOB_NAME}
    paths:
    - .sonar/cache
  needs:
  - job: bump version
    artifacts: true
  - job: install dependencies
    artifacts: false
  - job: test
    artifacts: true
  before_script:
  ...

try to build docker images:
  stage: build
  image: docker:latest
  interruptible: true
  cache: []
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  services:
  - docker:dind
  variables:
    DOCKER_TLS_CERTDIR: ''
  before_script:
  - apk add --no-cache qemu qemu-system-x86_64
  ...

create gitlab release:
  stage: release
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  needs:
  - job: initialise variables
    artifacts: false
  - job: bump version
    artifacts: true
  before_script:
  ...

ci: switched GitLab Runner
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `Active users` link
  README.md
Due: none

fix: update dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: change `GIT_STRATEGY`
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: add cache prefix
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

feat: add `429` warnings
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

feat: update telemetry server only on changes
  telemetry-backend/start.sh
Due: none

feat: add new MQTT topic for application info, please read `HOME_ASSISTANT.md`
  src/index.ts
  src/mqtt.ts
  src/version-checker.ts
  tests/electrolux.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: re-fetch refresh token if its invalid
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: add new `HOME_ASSISTANT.md` with automation examples
  HOME_ASSISTANT.md
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: `version-checker` test typings
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix: remove `description` from MQTT topic when "up-to-date"
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `HOME_ASSISTANT.md`
  HOME_ASSISTANT.md
Due: none

fix: rename `latestReleasedAt` to `releasedAt`
  HOME_ASSISTANT.md
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `README.md`
  README.md
Due: none

fix: telemetry backend sort versions in descending order
  .gitlab-ci.yml
  telemetry-backend/src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

feat: add `CHANGELOG.md` inside Docker image
  .dockerignore
  .gitlab-ci.yml
  docker/Dockerfile
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

feat: ability to output full CHANGELOG
  README.md
Due: none

docs: add example to `README.md` on how to view full CHANGELOG
  README.md
Due: none

docs: add example how to view full changelog
  .gitlab-ci.yml
  README.md
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: create reusable anchors for CICD rules
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

refactor: extract token helper methods in login flow
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

refactor: clean up deprecated code and minor improvements
  package.json
  src/appliances/normalizers.ts
  src/electrolux.ts
  src/index.ts
  src/mqtt.ts
  src/types.d.ts
  tests/appliances/normalizers.test.ts
  tsconfig.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: bump axios and @types/node
  config.example.yml
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: update pnpm
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: add scheduled `audit` job
  .gitlab-ci.yml
  tsconfig.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `README.md` and missing configs in examples
  CONTRIBUTING.md
  README.md
  config.example.yml
  docker/docker-compose.example.yml
Due: none

docs: update `HOME_ASSISTANT.md` examples
  HOME_ASSISTANT.md
Due: none

fix: refresh token threshold decreased from 6 hours to 1 hour
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `README.md` and missing configs in examples
  README.md
Due: none

fix: `currentVersion` and `latestVersion` to be in same format
  src/version-checker.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore: update `telemetry-backend` cached responses
  telemetry-backend/src/index.ts
Due: none

feat: add `logging.showTimestamp` config option
  src/config.ts
  src/logger.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: add `showTimestamp` to `config.example.yml`
  config.example.yml
Due: none

docs: add `LOGGING_SHOW_TIMESTAMP` env var to `README.md` examples
  README.md
Due: none

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
