Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

fix(index): catch unhandled rejections from self-restart main() calls
  src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(health): portable tmp path in tests, drop redundant optional chaining
  src/health.ts
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

style(health): fix double-quote string in health.test.ts
  tests/health.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore(.claude): add PostToolUse hook to run pnpm check after edits
  .claude/settings.json
Due: none

docs(.claude): never switch git branches without explicit instruction
  .claude/CLAUDE.md
Due: none

docs: update line reference in telemetry description
  README.md
Due: none

docs: refresh CONTRIBUTING and AI_DEVELOPMENT, drop stale audit report
  AI_DEVELOPMENT.md
  CONTRIBUTING.md
Due: none

chore(hooks): add post-checkout hook to auto-rebase next on main
  .githooks/post-checkout
Due: none

style(biome): remove redundant linter overrides, fix type-only imports
  biome.jsonc
  src/electrolux.ts
  src/mqtt.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(factory): replace static-only ApplianceFactory class with plain functions
  .claude/CLAUDE.md
  src/appliances/factory.ts
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: add @/ path alias for src/, eliminate deep relative imports
  package.json
  pnpm-lock.yaml
  src/appliances/base.ts
  src/appliances/comfort600.ts
  src/appliances/normalizers.ts
  tests/appliances/base.test.ts
  tests/appliances/comfort600.test.ts
  tests/appliances/factory.test.ts
  tests/appliances/normalizers.test.ts
  tests/cache.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/fixtures/api-responses.ts
  tests/health.test.ts
  tests/logger.test.ts
  tests/mqtt-events.test.ts
  tests/mqtt.test.ts
  tests/orchestrator.test.ts
  tests/state-differences.test.ts
  tests/version-checker.test.ts
  tsconfig.json
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci(bump-version): fix branch detection and pre-release flag for next branch
  .gitlab/ci/01_init.yml
Due: none

ci(bump-version): compute RC version and changelog correctly on next branch
  .claude/CLAUDE.md
  .claude/agents/engineer.md
  .claude/skills/audit/SKILL.md
  .gitlab/ci/01_init.yml
Due: none

ci(bump-version): fix sed pattern — changelog header has no v prefix
  .gitlab/ci/01_init.yml
Due: none

chore: pin audit agent/skill to claude-opus-4-7
  .claude/agents/auditor.md
  .claude/skills/audit/SKILL.md
Due: none

chore: add disable-model-invocation to audit-fix skill
  .claude/skills/audit-fix/SKILL.md
Due: none

chore(scripts): skip SonarCloud scan on non-main branches
  scripts/sonar.sh
Due: none

fix(electrolux): atomic token write + retry jitter
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(mqtt): connection-aware publish, unsubscribe race, reconnect notifier
  src/mqtt.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): reconnect republish + polling rejection guards
  src/orchestrator.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry-backend): proxy trust config, /health endpoints, helmet
  telemetry-backend/Dockerfile
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/src/utils.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/utils.test.ts
Due: update telemetry backend

feat(config): add electrolux.commandStateDelaySeconds option
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/electrolux.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor(cache): hash-based equality + capability-keyed autoDiscovery cache
  src/appliances/base.ts
  src/cache.ts
  src/canonical-stringify.ts
  src/orchestrator.ts
  tests/appliances/comfort600.test.ts
  tests/cache.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(coverage): tighten vitest thresholds and include src/index.ts
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: smoke test for src/index.ts wiring
  sonar-project.properties
  src/index.ts
  tests/index.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(meta): populate package description/keywords; reword AI_DEVELOPMENT preamble
  AI_DEVELOPMENT.md
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: e2e skip warning, telemetry deployment guide, migration scaffold
  CONTRIBUTING.md
  MIGRATION.md
  telemetry-backend/README.md
  tests/e2e/README.md
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, update telemetry backend

chore: add editorconfig, gitattributes, codeowners, MR template
  .editorconfig
  .gitattributes
  .gitlab/CODEOWNERS
  .gitlab/merge_request_templates/Default.md
Due: none

ci: add Renovate config for automated dependency updates
  renovate.json
Due: none

fix(backend): harden rate limiting, validation, and shutdown
  telemetry-backend/README.md
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/src/startup.ts
  telemetry-backend/src/utils.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/fake-redis.ts
  telemetry-backend/tests/integration/rate-limit.test.ts
  telemetry-backend/tests/startup.test.ts
  telemetry-backend/tests/utils.test.ts
Due: update telemetry backend

chore(backend): pin Docker digest, add resource limits, harden scripts
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
  telemetry-backend/start.sh
  telemetry-backend/update.sh
Due: update telemetry backend

ci: harden tooling scripts and re-enable pre-commit hook
  .claude/CLAUDE.md
  .githooks/pre-commit
  .gitlab/ci/02_test.yml
  package.json
  renovate.json
  scripts/osv-scan.sh
  scripts/sonar.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: reorder log levels silent→trace everywhere
  README.md
  config.example.yml
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): guard zombie polling and fix skipped reconnect
  src/orchestrator.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor(mqtt): rename shadowed config var, remove dead validateQoS
  src/mqtt.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(config): enforce two-letter country code format
  src/config.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test(backend): correct userHash length boundary test names
  telemetry-backend/tests/utils.test.ts
Due: update telemetry backend

test(backend): silence expected stderr in shutdown error-path tests
  telemetry-backend/tests/startup.test.ts
Due: update telemetry backend

ci: skip changelog sed if rc header already present
  .gitlab/ci/01_init.yml
Due: none

ci: drop RC entries from production changelog via -ignore-regex
  .gitlab/ci/03_build.yml
Due: none

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
