Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

docs: add security policy
  SECURITY.md
Due: none

chore: tighten node engines range to <25
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs(.claude): sync CLAUDE.md with refactor changes
  .claude/CLAUDE.md
Due: none

ci: fix cache key mismatch and docker build CHANGELOG dependency
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
Due: none

ci: set audit:backend to allow_failure
  .gitlab/ci/02_test.yml
Due: none

docs(.claude): compress CLAUDE.md + clarify breaking change convention
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/MEMORY.md
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/skills/audit-fix/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/maintain/SKILL.md
Due: none

ci: split .gitlab-ci.yml into per-stage includes
  .gitlab-ci.yml
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
  .gitlab/ci/04_release.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(.claude): clarify commit trigger rules
  .claude/CLAUDE.md
Due: none

ci: replace pnpm audit with osv-scanner
  .claude/CLAUDE.md
  .gitlab-ci.yml
  package.json
  scripts/osv-scan.sh
  telemetry-backend/package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: fix audit jobs failing due to distroless osv-scanner image
  .gitlab-ci.yml
  .gitlab/ci/02_test.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(.claude): add status line config and script
  .claude/settings.json
  .claude/statusline.sh
Due: none

chore: disable pre-commit hook
  .githooks/pre-commit
Due: none

build(biome): exclude .claude and .vscode from file scanning
  biome.jsonc
Due: install dependencies, test, lint, sonarcloud-check

ci: add frozen-lockfile, fix cache key, enforce backend audit
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
Due: none

fix(cache): avoid double JSON serialisation in matchByValue
  src/cache.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test(telemetry): enforce coverage thresholds
  telemetry-backend/tests/app.test.ts
  telemetry-backend/vitest.config.ts
Due: update telemetry backend

refactor(src): remove vestigial init module
  src/config.ts
  src/index.ts
  src/init.ts
  tests/init.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test(telemetry): align FakeRedis expire return type with node-redis
  telemetry-backend/src/app.ts
  telemetry-backend/tests/fake-redis.ts
Due: update telemetry backend

build(telemetry): add noUncheckedIndexedAccess, exclude tests from tsconfig
  telemetry-backend/tsconfig.json
Due: update telemetry backend

fix(orchestrator): track initial poll timeout for clean shutdown
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry): add Retry-After header on rate-limit responses
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

ci: use semantic-release changelog for rc builds
  .gitlab/ci/01_init.yml
Due: none

chore(deps): bump @biomejs/biome to ^2.4.12
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry): restore tests to root tsconfig include
  telemetry-backend/tsconfig.json
Due: update telemetry backend

fix(cache): always JSON.stringify in set() to match matchByValue()
  src/cache.ts
  tests/cache.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(index): track restart setTimeout handle for clean shutdown
  src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

build(telemetry): add --frozen-lockfile to Dockerfile pnpm install
  telemetry-backend/Dockerfile
Due: update telemetry backend

chore: remove stale init.ts references from docs and sonar config
  CONTRIBUTING.md
  sonar-project.properties
Due: none

ci: strip previous-RC entries from rc.2+ changelog
  .gitlab/ci/01_init.yml
Due: none

ci: delegate RC versioning and changelog to semantic-release config
  .gitlab/ci/01_init.yml
  .semrelrc
Due: none

ci: restore --prerelease flag for next branch
  .gitlab/ci/01_init.yml
Due: none

ci: switch to maintainedVersion for next branch config
  .semrelrc
Due: none

ci: use --maintained-version 1-rc for RC changelog scoping
  .gitlab/ci/01_init.yml
  .semrelrc
Due: none

docs(.claude): document --maintained-version bump on major version change
  .claude/CLAUDE.md
  .claude/agents/engineer.md
Due: none

chore: ignore semrel artifacts and generated release files
  .gitignore
Due: none

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
