Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

fix(index): use top-level await instead of promise chain
  src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat(sonar): print and auto-triage findings after local scan
  package.json
  scripts/sonar.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry): sort pre-release versions below stable counterparts
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

ci: produce rc-suffixed versions on next branch
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci(sonar): restrict sonarcloud-check to main branch
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci(sonar): mark sonarcloud-check optional in downstream needs
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: wait for test stage before building rc docker image
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(.claude): clarify commit-gating rule for contributors
  .claude/CLAUDE.md
Due: none

ci: create prerelease tag via Releases API instead of git push
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(.claude): rewrite commit-gating rule for clarity
  .claude/CLAUDE.md
Due: none

ci: remove duplicate MR pipelines, use branch pipelines only
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

feat(version-checker): add updateChannel config for release filtering
  README.md
  config.example.yml
  src/config.ts
  src/version-checker.ts
  tests/config.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci: restore optional on rc docker image test dependencies
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: fix changes/needs consistency across jobs
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci(bump-version): generate incremental changelogs for rc.2+
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci(bump-version): fix incremental rc changelog base tag
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs: document beta channel and enforce config-option sync rule
  .claude/CLAUDE.md
  .claude/agents/engineer.md
  README.md
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: none

refactor(version-checker): extract helpers to reduce cognitive complexity
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs(.claude): require verification to pass before committing
  .claude/CLAUDE.md
Due: none

fix(config): move envSchema validation constraints to configSchema
  src/config.ts
  src/types.d.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump follow-redirects to 1.16.0, redis to 5.12.0
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/vuln_follow_redirects.md
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(deps): bump redis to 5.12.1 in telemetry-backend
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: update telemetry backend

docs(ai-development): document audit-fix skill in AI_DEVELOPMENT.md
  .claude/skills/audit-fix/SKILL.md
  AI_DEVELOPMENT.md
Due: none

ci: scope dockerhub description update to README changes
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: extract .docker_build_base template to DRY docker jobs
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(.claude): compress CLAUDE.md + clarify breaking change convention
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/MEMORY.md
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/skills/audit-fix/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/maintain/SKILL.md
Due: none

ci: replace pnpm audit with osv-scanner
  .claude/CLAUDE.md
  .gitlab-ci.yml
  package.json
  scripts/osv-scan.sh
  telemetry-backend/package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: split .gitlab-ci.yml into per-stage includes
  .gitlab-ci.yml
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
  .gitlab/ci/04_release.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(.claude): clarify commit trigger rules
  .claude/CLAUDE.md
Due: none

ci: fix audit jobs failing due to distroless osv-scanner image
  .gitlab-ci.yml
  .gitlab/ci/02_test.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(.claude): add status line config and script
  .claude/settings.json
  .claude/statusline.sh
Due: none

build(biome): exclude .claude and .vscode from file scanning
  biome.jsonc
Due: install dependencies, test, lint, sonarcloud-check

refactor(src): remove vestigial init module
  src/config.ts
  src/index.ts
  src/init.ts
  tests/init.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): track initial poll timeout for clean shutdown
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(cache): avoid double JSON serialisation in matchByValue
  src/cache.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test(telemetry): align FakeRedis expire return type with node-redis
  telemetry-backend/src/app.ts
  telemetry-backend/tests/fake-redis.ts
Due: update telemetry backend

fix(telemetry): add Retry-After header on rate-limit responses
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

build(telemetry): add noUncheckedIndexedAccess, exclude tests from tsconfig
  telemetry-backend/tsconfig.json
Due: update telemetry backend

test(telemetry): enforce coverage thresholds
  telemetry-backend/tests/app.test.ts
  telemetry-backend/vitest.config.ts
Due: update telemetry backend

ci: add frozen-lockfile, fix cache key, enforce backend audit
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
Due: none
