Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

refactor(electrolux): extract computeLoginRetryDelay, restore private field
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: use fileURLToPath and drop a redundant new RegExp wrapper
  src/config.ts
  src/logger.ts
  src/migrate.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor(telemetry): guard backend env numerics against NaN
  telemetry-backend/src/index.ts
  telemetry-backend/src/startup.ts
  telemetry-backend/tests/startup.test.ts
Due: update telemetry backend

refactor(comfort600): allowlist command fields in transformMqttCommandToApi
  src/appliances/comfort600.ts
  tests/appliances/comfort600.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor(electrolux): validate token-refresh response shape
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor(electrolux): share one backoff calc between login and token refresh
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: drop dead Zod-defaulted config fallbacks
  src/cache.ts
  src/electrolux.ts
  src/logger.ts
  src/mqtt.ts
  src/version-checker.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs(claude): persist 2026-06-01 review follow-ups and delegation preference
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/feedback_delegate_by_default.md
  .claude/agent-memory/shared/project_review_deferred.md
Due: none

ci: compute next-branch RC version via a tested script
  .gitlab/ci/01_init.yml
  scripts/compute-rc-version.sh
  tests/compute-rc-version.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

ci: keep next-branch RC changelog incremental (since last RC, not last stable)
  .gitlab/ci/01_init.yml
Due: none

feat(version-checker): accept CalVer and HA-beta formats alongside SemVer
  src/version-checker.ts
  telemetry-backend/src/app.ts
  telemetry-backend/src/utils.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/utils.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

refactor: clear SonarCloud findings (ReDoS hotspot + exec/else-if smells)
  src/orchestrator.ts
  src/version-checker.ts
  telemetry-backend/src/app.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: migrate release versioning from SemVer to CalVer
  .gitlab/CODEOWNERS
  .gitlab/ci/01_init.yml
  .gitlab/ci/03_build.yml
  .gitlab/ci/04_release.yml
  .semrelrc
  cliff.toml
  scripts/compute-calver-base.sh
  scripts/compute-calver-beta.sh
  scripts/compute-rc-version.sh
  tests/compute-calver-base.test.ts
  tests/compute-calver-beta.test.ts
  tests/compute-rc-version.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs(claude): record CalVer migration state and pending Phase 3 docs
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_calver_migration.md
Due: none

docs: update version-scheme references for CalVer
  MIGRATION.md
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: none

docs(claude): update versioning rules for CalVer
  .claude/CLAUDE.md
  .claude/agents/auditor.md
  .claude/agents/maintainer.md
Due: none

docs(claude): mark CalVer migration Phase 3 complete in memory
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_calver_migration.md
Due: none

docs(claude): clarify chore(deps) carries no version semantics under CalVer
  .claude/agents/maintainer.md
Due: none

ci: gate version bump + changelog on release-affecting paths only
  .gitlab-ci.yml
  .gitlab/ci/02_test.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(deps): bump patch/minor deps and pnpm to 11.5.1
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci(telemetry): deploy from the triggering branch, not always main
  .gitlab/ci/04_release.yml
  telemetry-backend/update.sh
Due: update telemetry backend

ci(telemetry): git checkout in CI script, not update.sh
  .gitlab/ci/04_release.yml
Due: none

fix(telemetry): add network: host to BuildKit build stage
  telemetry-backend/docker-compose.yml
Due: update telemetry backend

docs(claude): guard network: host in telemetry docker-compose
  .claude/agents/maintainer.md
Due: none

docs: split release badge into stable and beta
  README.md
Due: none

feat(telemetry): self-hosted stable and beta release badges
  README.md
  telemetry-backend/nginx/reverse-proxy.conf
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

chore: add script to generate MR description changelog
  scripts/mr-description.sh
Due: none

feat(telemetry): invisible beta badge + deep-link redirects
  README.md
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

fix(telemetry): harden release-badge SVG generation
  telemetry-backend/src/app.ts
  telemetry-backend/src/index.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

docs(telemetry): document /stable, /beta endpoints and badge files
  telemetry-backend/README.md
Due: update telemetry backend

chore(deps): bump axios to ^1.17.0 and pnpm to 11.5.2
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(sops): encrypt env files with SOPS + age (ML-KEM-768 hybrid)
  .env.enc
  .gitignore
  .sops.yaml
  package.json
  scripts/sops-env.sh
  scripts/sops-rotate.sh
  telemetry-backend/.env.enc
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(memory): record SOPS secret-management setup
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_sops_secrets.md
Due: none

docs: update README.md
  README.md
Due: none

feat(ci): point :next tag at stable once it overtakes the last beta
  .gitlab/ci/04_release.yml
  README.md
Due: none

feat(version-check): auto-derive update channel from running image version
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/version-checker.ts
  tests/config.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(memory): record auto-update decision (in-app rejected)
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_auto_update_decision.md
Due: none

fix(telemetry): preserve last-good badge on failed or empty GitLab fetch
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

fix(telemetry): refresh release badges every 10 min and on each release
  .gitlab/ci/04_release.yml
  telemetry-backend/README.md
  telemetry-backend/src/index.ts
  telemetry-backend/src/regenerate-badges.ts
  telemetry-backend/src/startup.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/startup.test.ts
Due: update telemetry backend

feat(version-check): log channel/interval at startup, configurable grace period
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/version-checker.ts
  tests/config.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
