Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

docs: reorder README badges — Docker Pulls and Active Users first
  README.md
Due: none

ci: run pnpm audit alongside osv-scan in audit jobs
  .gitlab/ci/02_test.yml
Due: none

chore(deps): bump biome to 2.4.13 and vite to 8.0.10
  .claude/agent-memory/maintainer/node_version_fnm.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: run initialise variables for all schedules including AUDIT
  .gitlab/ci/01_init.yml
Due: none

chore(deps): bump axios, yaml, zod
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: remove tautological assertions flagged by Sonar S5914
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore(deps): bump biome to 2.4.15 and vite to 8.0.12
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: add pnpm-workspace.yaml for pnpm v11 build script approval
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/pnpm_v11_build_approval.md
  pnpm-workspace.yaml
Due: none

chore(deps): bump yaml to 2.9.0
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: remove pnpm.onlyBuiltDependencies from package.json files
  package.json
  telemetry-backend/package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: restore esbuild build approval for standalone telemetry-backend install
  telemetry-backend/package.json
  telemetry-backend/pnpm-workspace.yaml
Due: update telemetry backend

ci: add pnpm-workspace.yaml to CI changes rules and Dockerfile COPY
  .gitlab-ci.yml
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
  .gitlab/ci/04_release.yml
  docker/Dockerfile
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore: remove last pnpm v10 onlyBuiltDependencies fallback
  .claude/agent-memory/maintainer/pnpm_v11_build_approval.md
  telemetry-backend/package.json
Due: update telemetry backend

chore(deps): bump patch/minor deps and fix ws CVE GHSA-58qx-3vcg-4xpx
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/vuln_ws_GHSA-58qx-3vcg-4xpx.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore: fix statusline.sh stat arg order for Linux/macOS compat
  .claude/statusline.sh
Due: none

chore(deps): bump pnpm to 11.1.3 and migrate ws override to pnpm-workspace.yaml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/pnpm-workspace.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

refactor: introduce Symbol.dispose and Symbol.asyncDispose lifecycle
  .claude/agent-memory/engineer/MEMORY.md
  .claude/agent-memory/engineer/feedback_using_keyword.md
  src/disposable.ts
  src/electrolux.ts
  src/index.ts
  src/mqtt.ts
  src/orchestrator.ts
  src/version-checker.ts
  tests/disposable.test.ts
  tests/electrolux.test.ts
  tests/mqtt.test.ts
  tests/orchestrator.test.ts
  tsconfig.json
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): require sustained absence before removing appliance
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/index.ts
  src/orchestrator.ts
  tests/config.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(.claude): update maintainer notes after pnpm 11 overrides migration
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/vuln_ws_GHSA-58qx-3vcg-4xpx.md
  .claude/agents/maintainer.md
Due: none

chore(deps): normalize @types/node pin to ^24.0.0 and refresh lockfiles
  .claude/agent-memory/maintainer/dep_atypes_node_pin.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix(orchestrator): clear missing-since map in cleanupAppliance
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(telemetry-backend): drop inert ws override
  .claude/agent-memory/maintainer/vuln_ws_GHSA-58qx-3vcg-4xpx.md
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/pnpm-workspace.yaml
Due: update telemetry backend

test: align mqtt mocks with the IMqtt interface
  tests/electrolux.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

docs(readme): re-align env-var table after new grace-period row
  README.md
Due: none

chore: bump pnpm to 11.2.2
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci(docker): copy pnpm-workspace.yaml into purge stage
  docker/Dockerfile
  docker/Dockerfile.local
Due: try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry-backend): bump hash rate limit to 4/min
  telemetry-backend/docker-compose.yml
Due: update telemetry backend

chore(deps): bump axios, tsx, vite, vitest, helmet; pnpm 11.3.0
  .claude/agent-memory/maintainer/dep_atypes_node_pin.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

refactor(orchestrator): extract helpers to reduce discoverAppliances complexity
  src/orchestrator.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump pnpm to 11.4.0
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): simplify @types/node pin to ^24 in both packages
  .claude/agent-memory/maintainer/dep_atypes_node_pin.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

test: fix flaky health rate-limit test and remove dead fallback
  src/index.ts
  telemetry-backend/tests/app.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

test: typecheck tests/ via tsconfig.tests.json, fix pre-existing errors
  package.json
  src/electrolux.ts
  tests/appliances/base.test.ts
  tests/appliances/comfort600.test.ts
  tests/config.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/logger.test.ts
  tests/version-checker.test.ts
  tsconfig.tests.json
  vitest.setup.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump pnpm to 11.5.0 and @biomejs/biome to 2.4.16
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: bump redis to v6 in telemetry-backend
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: update telemetry backend

refactor(index): drop dead Zod-defaulted fallbacks
  src/index.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs(maintainer): document @types/node re-pin after pnpm update --latest
  .claude/agents/maintainer.md
Due: none

chore(memory): record redis v6 upgrade note for maintainer
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/dep_redis_v6.md
Due: none

chore(audit): inherit session model and effort instead of pinning
  .claude/agents/auditor.md
  .claude/skills/audit/SKILL.md
Due: none

docs(config): correct appliance-removal grace-period comment
  config.example.yml
Due: none
