Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

build: make .dockerignore an allowlist and add a docker build test
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_dockerignore_allowlist.md
  .dockerignore
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
  package.json
  scripts/docker-build-test.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

build: add /merge-request skill and target mr-description at main..next
  .claude/skills/merge-request/SKILL.md
  docs/AI_DEVELOPMENT.md
  scripts/mr-description.sh
Due: none

chore(deps): bump axios, tsx, vite and pnpm; clear transitive vulns
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

fix: add timeouts to auth-flow requests
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: drop the pre-v1.17.0 tokens.json startup migration
  src/index.ts
  src/migrate.ts
  tests/index.test.ts
  tests/migrate.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: sync telemetry-backend badge-serving description with the static-file design
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_aptabase_telemetry.md
  .claude/skills/audit/SKILL.md
  .claude/skills/engineer/SKILL.md
Due: none

chore(deps): bump biome, tsx, vite patches; pnpm 11.21.0
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

build: single-source Node+Alpine in mise.toml [vars], require NODE_VERSION in docker builds
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/agent-memory/shared/dep_dockerfile_required_arg_guard.md
  .claude/agent-memory/shared/dep_vitest_domock_race.md
  .claude/skills/engineer/SKILL.md
  .claude/skills/maintain/SKILL.md
  .githooks/common.sh
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/04_release.yml
  .nvmrc
  README.md
  docker/Dockerfile
  docker/Dockerfile.local
  docker/docker-compose.local.example.yml
  docs/CONTRIBUTING.md
  mise.toml
  package.json
  pnpm-workspace.yaml
  renovate.json
  scripts/docker-build-test.sh
  scripts/sync-versions.sh
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
  telemetry-backend/package.json
  telemetry-backend/pnpm-workspace.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(deps): bump pnpm to 11.22.0
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

build(claude): automate origin-freshness check via session hooks
  .claude/CLAUDE.md
  .claude/agent-memory/shared/feedback_fetch_before_commit.md
  .claude/hooks/check-origin-freshness.sh
  .claude/settings.json
  .claude/skills/maintain/SKILL.md
Due: none

build(ci): extract inline job scripts into scripts/
  .gitlab/ci/01_init.yml
  .gitlab/ci/03_build.yml
  .gitlab/ci/04_release.yml
  scripts/compute-version.sh
  scripts/create-gitlab-release.sh
  scripts/docker-buildx-release.sh
  scripts/generate-release-notes.sh
Due: none

fix(audit): close audit findings — stale refs, CI script triggers, mise-based hooks
  .claude/agent-memory/shared/audit_heuristics.md
  .claude/settings.json
  .claude/skills/audit/SKILL.md
  .githooks/common.sh
  .gitlab/ci/02_test.yml
  .gitlab/ci/03_build.yml
  docs/AI_DEVELOPMENT.md
Due: none

fix(ci): pass NODE_VERSION to the remote compose in the badge-refresh job
  .gitlab/ci/04_release.yml
Due: none

chore(deps): bump axios 1.20.0, biome 2.5.11, vitest 4.1.11, pnpm 11.24.0
  .claude/agent-memory/shared/vuln_esbuild_GHSA-gv7w-rqvm-qjhr.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(deps): bump zod 4.5.4, tsx 4.23.13
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(memory): record coreutils CVE triage for the dhi hardened base
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/vuln_coreutils_dhi_base.md
Due: none

feat(telemetry-backend): persist peak user counts and serve peak badges
  .claude/CLAUDE.md
  .claude/agent-memory/shared/project_aptabase_telemetry.md
  .claude/skills/engineer/SKILL.md
  README.md
  telemetry-backend/README.md
  telemetry-backend/nginx/reverse-proxy.conf
  telemetry-backend/src/badge-store.ts
  telemetry-backend/src/badges.ts
  telemetry-backend/src/peaks.ts
  telemetry-backend/tests/badge-store.test.ts
  telemetry-backend/tests/badges.test.ts
  telemetry-backend/tests/peaks.test.ts
Due: update telemetry backend

chore(deps): bump pnpm 12.4.1, vitest 5.0.0 and minor updates
  .gitignore
  mise.toml
  package.json
  pnpm-lock.yaml
  scripts/osv-scan.sh
  telemetry-backend/Dockerfile
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(maintain): record pnpm 12 migration quirks
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_pnpm12_migration.md
  .claude/skills/maintain/SKILL.md
Due: none

docs(memory): record coverage-enforcement and read-then-persist heuristics
  .claude/agent-memory/shared/audit_heuristics.md
Due: none

fix(telemetry-backend): never overwrite peak history after a failed read
  telemetry-backend/src/badge-store.ts
  telemetry-backend/tests/badge-store.test.ts
Due: update telemetry backend

chore(scripts): make osv-scan.sh callable from any cwd
  scripts/osv-scan.sh
Due: none

test(telemetry-backend): enforce coverage thresholds and cover server/ClickHouse wrappers
  telemetry-backend/README.md
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/tests/badges.test.ts
  telemetry-backend/tests/clickhouse-client.test.ts
  telemetry-backend/tests/start-server.test.ts
Due: update telemetry backend

chore(deps): bump mqtt to 5.16.0 (security) and refresh patch deps
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs(memory): record git-cliff mise shim workaround for mr-description.sh
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/reference_git_cliff_mise_shim.md
Due: none

build: replace tsc-alias with Node subpath imports and refresh deps
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_dockerignore_allowlist.md
  .claude/agent-memory/shared/dep_subpath_imports_braces.md
  .claude/agent-memory/shared/dep_typescript7_native.md
  package.json
  pnpm-lock.yaml
  scripts/docker-build-test.sh
  src/appliances/base.ts
  src/appliances/comfort600.ts
  src/appliances/factory.ts
  src/appliances/normalizers.ts
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
  tests/appliances/base.test.ts
  tests/appliances/comfort600.test.ts
  tests/appliances/factory.test.ts
  tests/appliances/normalizers.test.ts
  tests/cache.test.ts
  tests/canonical-stringify.test.ts
  tests/disposable.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/fixtures/api-responses.ts
  tests/health.test.ts
  tests/index.test.ts
  tests/logger.test.ts
  tests/mqtt-events.test.ts
  tests/mqtt.test.ts
  tests/orchestrator.test.ts
  tests/state-differences.test.ts
  tests/telemetry.test.ts
  tests/version-checker.test.ts
  tsconfig.json
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

build: single-source the Node version from package.json engines.node
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/agent-memory/shared/dep_dockerfile_required_arg_guard.md
  .claude/agent-memory/shared/project_node26_lts_window.md
  .claude/skills/audit/SKILL.md
  .claude/skills/engineer/SKILL.md
  .claude/skills/maintain/SKILL.md
  .githooks/common.sh
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/04_release.yml
  README.md
  docker/Dockerfile
  docker/Dockerfile.local
  docker/docker-compose.local.example.yml
  docs/CONTRIBUTING.md
  mise.toml
  pnpm-workspace.yaml
  scripts/docker-build-test.sh
  scripts/node-major.sh
  scripts/sync-versions.sh
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
  telemetry-backend/pnpm-workspace.yaml
Due: try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

build: pin every Node image to the single-sourced Alpine version
  .claude/CLAUDE.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/skills/engineer/SKILL.md
  .claude/skills/maintain/SKILL.md
  .gitlab/ci/01_init.yml
  .gitlab/ci/02_test.yml
  .gitlab/ci/04_release.yml
  README.md
  docker/Dockerfile.local
  docker/docker-compose.local.example.yml
  docs/CONTRIBUTING.md
  mise.toml
  scripts/alpine-version.sh
  scripts/docker-build-test.sh
  scripts/sync-versions.sh
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
Due: update telemetry backend

build: move alpineVersion to package.json so Alpine bumps cut a release
  .claude/CLAUDE.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/agent-memory/shared/dep_dockerfile_required_arg_guard.md
  .claude/agent-memory/shared/vuln_coreutils_dhi_base.md
  .claude/skills/engineer/SKILL.md
  .claude/skills/maintain/SKILL.md
  .gitlab/ci/01_init.yml
  docker/Dockerfile
  docker/Dockerfile.local
  docker/docker-compose.local.example.yml
  mise.toml
  package.json
  renovate.json
  scripts/alpine-version.sh
  scripts/docker-build-test.sh
  scripts/sync-versions.sh
  telemetry-backend/Dockerfile
  telemetry-backend/docker-compose.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

docs: document the full mise toolchain setup and enforce min_version
  README.md
  docs/CONTRIBUTING.md
  mise.toml
  telemetry-backend/README.md
Due: update telemetry backend

build(ci): pin git-cliff in mise.toml and read it in CI
  .claude/CLAUDE.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/reference_git_cliff_mise_shim.md
  .gitlab/ci/01_init.yml
  docs/CONTRIBUTING.md
  mise.toml
  scripts/mr-description.sh
  scripts/tool-version.sh
Due: none

docs(memory): record release and merge gotchas from 2026.10.0
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/reference_release_merge_gotchas.md
Due: none

fix: handle floating promises flagged by SonarCloud
  src/index.ts
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

refactor: drop needless async and initialize appliances concurrently
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/reference_sonar_branch_issues.md
  src/electrolux.ts
  src/index.ts
  src/mqtt.ts
  src/orchestrator.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
  tests/index.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release
