Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json

test: improve `config` coverage
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

refactor(init): simplify initialization and version logging
  src/index.ts
  src/init.ts
  src/logger.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

test: add comprehensive test coverage for core modules
  tests/appliances/normalizers.test.ts
  tests/init.test.ts
  tests/mqtt-events.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

test: improve existing test suites with better coverage
  tests/electrolux.test.ts
  tests/mqtt.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix(config): implement Zod schema validation for configuration
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix(tests): remove unused skipped test
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore(deps): update packages
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

test: clean E2E test
  tests/e2e/electrolux-api.e2e.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

fix(test): `config.test.ts` SonarQube warning
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore: add `.scannerwork` to gitignore
  .gitignore
Due: none

chore: update postinstall shebang
  scripts/postinstall.sh
Due: none

feat: add update checker
  config.example.yml
  src/config.ts
  src/index.ts
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

feat: add telemetry server
  .gitignore
  .gitlab-ci.yml
  README.md
  package.json
  sonar-project.properties
  telemetry-backend/.dockerignore
  telemetry-backend/.gitignore
  telemetry-backend/Dockerfile
  telemetry-backend/README.md
  telemetry-backend/docker-compose.yml
  telemetry-backend/nginx/reverse-proxy.conf
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/src/index.ts
  telemetry-backend/start.sh
  telemetry-backend/tsconfig.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore: update nginx conf
  telemetry-backend/nginx/reverse-proxy.conf
Due: none

fix(backend): skip user count on `test-hash`
  .gitlab-ci.yml
  package.json
  telemetry-backend/nginx/reverse-proxy.conf
  telemetry-backend/src/index.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore(test): add E2E test for version checking
  README.md
  telemetry-backend/nginx/reverse-proxy.conf
  tests/e2e/version-checker.e2e.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

chore: remove unused `GET /badge` endpoint
  telemetry-backend/src/index.ts
Due: none

chore: add new config options in examples
  README.md
  config.example.yml
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: remove obsolete endpoint from Telemetry Backend docs
  telemetry-backend/README.md
Due: none

chore: remove `needs` from telemetry backend job
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `README.md`
  README.md
Due: none

ci: remove DIND shenanigans
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: simplify pnpm usage
  .gitlab-ci.yml
  docker/Dockerfile
  docker/Dockerfile.local
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

build: improve docker images and cicd
  .dockerignore
  .gitlab-ci.yml
  docker/Dockerfile
  docker/Dockerfile.local
  telemetry-backend/Dockerfile
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

docs: update `README.md` and `CONTRIBUTING.md`
  CONTRIBUTING.md
  README.md
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore(githook): `pre-commit` to prevent commits with ignored files
  .githooks/common.sh
  .githooks/pre-commit
Due: none

fix(scripts): `postinstall.sh` to use correct paths
  .githooks/postinstall.sh
  docker/Dockerfile
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: default timeout for Electrolux API requests, more logging
  src/electrolux.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore(telemetry-backend): remove unused dependency
  telemetry-backend/package.json
Due: none

feat(telemetry-backend): add rate limiting
  telemetry-backend/README.md
  telemetry-backend/src/index.ts
Due: none

chore: update `pnpm-lock.yaml`
  .githooks/pre-commit
  telemetry-backend/pnpm-lock.yaml
Due: none

ci: improve docker build
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: `Starting Electrolux to MQTT version`
  src/init.ts
  tests/init.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

chore: update dependencies
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

ci: add cicd doc links
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix(ci): don't update telemetry unless pipeline succeeds
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix: update vulnerable dependency
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images

fix(ci): don't run jobs if previous failed
  .gitlab-ci.yml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, create gitlab release, build and deploy docker images
