Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*

fix: store OAuth tokens in memory only, drop tokens.json persistence
  .claude/CLAUDE.md
  .claude/agents/auditor.md
  .dockerignore
  .gitignore
  README.md
  src/config.ts
  src/electrolux.ts
  tests/config.test.ts
  tests/electrolux.test.ts
  tests/tokens.json
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(.claude): show session ID in statusline, trim trailing whitespace
  .claude/statusline.sh
Due: none

chore: disable pre-commit hook — stash logic breaks amend workflows
  .githooks/pre-commit
Due: none

docs: document token persistence removal in MIGRATION.md
  MIGRATION.md
Due: none

test: remove vacuous isLoggedIn test, add retry assertions
  tests/index.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

refactor(comfort600): simplify dead fan_mode_state_template branch
  src/appliances/comfort600.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(.claude): pnpm check pre-commit hook, configure audit-fix skill
  .claude/settings.json
  .claude/skills/audit-fix/SKILL.md
Due: none

chore: add migrate script to clean up leftover tokens.json
  package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: fix log level order and country code comment in examples
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
Due: none

docs: remove premature Unreleased section from MIGRATION.md
  MIGRATION.md
Due: none

docs: align env var table columns, add config.example.yml pointer
  README.md
Due: none

docs(config): explain commandStateDelaySeconds API cache rationale
  config.example.yml
Due: none

feat: auto-remove legacy tokens.json on startup
  package.json
  src/index.ts
  src/migrate.ts
  tests/migrate.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(.claude): add version-gated migration cleanup rule to auditor
  .claude/agents/auditor.md
Due: none

fix(config): stop attempting to write config.yml on first startup
  src/config.ts
  tests/config.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): pin @types/node ^24, bump typescript 6.0.3; audit fixes
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/dep_atypes_node_pin.md
  .claude/agent-memory/maintainer/node_version_fnm.md
  .claude/agents/auditor.md
  package.json
  pnpm-lock.yaml
  src/config.ts
  telemetry-backend/docker-compose.yml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: fix SIGPIPE in bump-version, add RC debug logging and safeguard
  .gitlab/ci/01_init.yml
Due: none

chore: re-enable pnpm audit in deps:check
  .claude/CLAUDE.md
  package.json
  telemetry-backend/package.json
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

ci: simplify bump-version RC logic — delegate to --maintained-version
  .gitlab/ci/01_init.yml
Due: none

fix(orchestrator): harden polling lifecycle and drop duplicate startup fetch
  src/index.ts
  src/orchestrator.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(electrolux): keep login waiters queued across retry attempts
  src/electrolux.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix: resolve SonarQube code smells in config, orchestrator, canonical-stringify
  src/canonical-stringify.ts
  src/config.ts
  src/orchestrator.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore: add env_file to telemetry-backend docker-compose
  telemetry-backend/docker-compose.yml
Due: update telemetry backend

fix(version-checker): RC version no longer masks stable release of same core
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci: generate changelog in bump-version step 1 so fallback sed has a file
  .gitlab/ci/01_init.yml
Due: none

fix(version-checker): extract comparePreRelease to resolve cognitive complexity
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

feat(version-checker): skip update notification for releases under 1 hour old
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry): sort versions by version desc, count as tie-break
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

fix(telemetry): sort versions by version desc only, drop count tie-break
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

fix(telemetry): audit fixes — rc sort, .env optional, machine-id mount, e2e bypass
  telemetry-backend/.env.example
  telemetry-backend/README.md
  telemetry-backend/docker-compose.yml
  telemetry-backend/src/app.ts
  telemetry-backend/tests/app.test.ts
Due: update telemetry backend

docs: add shared agent memory to .claude/agent-memory/shared/
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/feedback_biome_before_commit.md
  .claude/agent-memory/shared/feedback_e2e_snapshot_sync.md
  .claude/agent-memory/shared/feedback_single_source_of_truth.md
  AI_DEVELOPMENT.md
Due: none

chore: remove unused pre-commit hook
  .githooks/pre-commit
Due: none

fix(telemetry): align ALLOW_TEST_TELEMETRY default off, gate e2e test
  telemetry-backend/.env.example
  telemetry-backend/docker-compose.yml
  tests/e2e/version-checker.e2e.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, update telemetry backend

fix(cache): eliminate hashStore drift from LRU
  src/cache.ts
  tests/cache.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(orchestrator): purge cache entries on cleanupAppliance
  src/orchestrator.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump axios, vite, vitest, @vitest/coverage-v8 to latest patch
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore: sharpen auditor e2e scope rule and heuristics
  .claude/agent-memory/auditor/audit_heuristics.md
  .claude/agents/auditor.md
Due: none

chore: add sandbox status indicator to statusline
  .claude/statusline.sh
Due: none

fix(telemetry-backend): move test-hash bypass before IP rate limiting
  telemetry-backend/src/app.ts
Due: update telemetry backend

fix(telemetry-backend): proxy all requests except /users.svg
  telemetry-backend/nginx/reverse-proxy.conf
Due: update telemetry backend
