Repository Kirbo/electrolux-to-mqtt: changes, and which GitLab CI jobs are due for each by the changed paths.
All: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

initialise variables:
  stage: init
  image: alpine:latest
  interruptible: true
  cache: []
  artifacts:
    reports:
      dotenv: variables.env
  script:
  - touch variables.env
  - echo "NODE_VERSION=$(cat .nvmrc)-alpine3.23" >> variables.env

bump version:
  stage: init
  image:
    name: registry.gitlab.com/go-semantic-release/semantic-release:latest
    entrypoint:
    - ''
  interruptible: true
  cache: []
  artifacts:
    paths:
    - .version-unreleased
    - build.env
    - UNRELEASED-CHANGELOG.md
    - sonar-project.properties
    expire_in: never
  before_script:
  ...

install dependencies:
  stage: init
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: push
  needs:
  - job: initialise variables
    artifacts: true
  before_script:
  ...

test:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

lint:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

audit:
  stage: test
  image: node:${NODE_VERSION}
  interruptible: true
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .pnpm-store
    - node_modules
    policy: pull
  needs:
  - job: initialise variables
    artifacts: true
  ...

sonarcloud-check:
  stage: test
  image:
    name: sonarsource/sonar-scanner-cli:latest
    entrypoint:
    - ''
  cache:
    key:
      prefix: ${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}
      files:
      - pnpm-lock.yaml
    paths:
    - .sonar/cache
    policy: pull
  needs:
  - job: bump version
    artifacts: true
  ...

try to build docker images:
  stage: build
  image: docker:latest
  retry: 1
  interruptible: true
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  before_script:
  ...

build and deploy docker images:
  stage: release
  image: docker:latest
  retry: 1
  interruptible: true
  allow_failure: false
  cache: []
  variables:
    DOCKER_HOST: unix:///var/run/docker.sock
  needs:
  - job: initialise variables
    artifacts: true
  - job: bump version
    artifacts: true
  - job: sonarcloud-check
    artifacts: false
  ...

fix(version-check): always default :next to beta, :latest to stable
  .gitlab/ci/04_release.yml
  README.md
  config.example.yml
  docker/Dockerfile
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/index.ts
  src/version-checker.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(memory): record glab ci-lint gotcha and memory-before-commit preference
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/feedback_memory_before_commit.md
  .claude/agent-memory/shared/reference_glab_ci_lint.md
Due: none

feat(telemetry): report and aggregate update channel
  README.md
  config.example.yml
  src/version-checker.ts
  telemetry-backend/README.md
  telemetry-backend/src/app.ts
  telemetry-backend/src/utils.ts
  telemetry-backend/tests/app.test.ts
  telemetry-backend/tests/utils.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

feat(statusline): show reasoning effort level
  .claude/statusline.sh
Due: none

ci: use combine-changelogs -unreleased so the pending section sorts on top
  .gitlab/ci/03_build.yml
Due: none

fix(version-check): comment out updateChannel in example
  config.example.yml
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci(release): rewrite README links to absolute URLs for Docker Hub
  .gitignore
  .gitlab/ci/04_release.yml
Due: none

docs: consolidate standalone docs into docs/
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/doc_sync_gaps.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_calver_migration.md
  .claude/agent-memory/shared/project_repo_layout.md
  .claude/agent-memory/shared/project_sops_secrets.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .dockerignore
  .gitlab/CODEOWNERS
  README.md
  docs/AI_DEVELOPMENT.md
  docs/CONTRIBUTING.md
  docs/HOME_ASSISTANT.md
  docs/MIGRATION.md
  docs/SECURITY.md
  docs/SONARQUBE.md
Due: none

chore(deps): bump deps, fix esbuild vulns, migrate Biome to 2.5.0
  biome.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  telemetry-backend/pnpm-lock.yaml
  telemetry-backend/pnpm-workspace.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(memory): record Biome 2.5.0 migration, esbuild vulns, alpine catalog notes
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/dep_alpine_hardened_images.md
  .claude/agent-memory/maintainer/dep_biome_v25_migration.md
  .claude/agent-memory/maintainer/vuln_esbuild_GHSA-gv7w-rqvm-qjhr.md
Due: none

refactor(version-check): replace nested channel-suffix ternary with lookup
  src/version-checker.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump hardened base image from alpine3.23 to alpine3.24
  docker/Dockerfile
Due: try to build docker images, build and deploy docker images, create gitlab release

chore(memory): add tooling-config activation and branch-gated Sonar audit heuristics
  .claude/agent-memory/auditor/audit_heuristics.md
Due: none

chore(statusline): drop bash statusline.sh and its settings entry
  .claude/settings.json
  .claude/statusline.sh
Due: none

chore(githooks): rebase next onto origin/main when no local main exists
  .githooks/post-checkout
Due: none

fix(docker): copy pnpm-workspace.yaml into telemetry-backend prod stage
  telemetry-backend/Dockerfile
Due: update telemetry backend

chore(memory): note overrides require pnpm-workspace.yaml in Docker prod stages
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/dep_override_dockerfile_workspace.md
Due: none

feat: republish state on HA birth message for restart recovery
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_ha_birth_republish.md
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/index.ts
  src/mqtt.ts
  src/orchestrator.ts
  tests/config.test.ts
  tests/mqtt.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(deps): bump axios to 1.18.0, pnpm to 11.7.0, fix vite vulns
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/vuln_vite_GHSA-fx2h-pf6j-xcff.md
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

chore(memory): note reconnect-vs-birth republish asymmetry is intentional
  .claude/agent-memory/auditor/audit_heuristics.md
Due: none

docs: allow git push on explicit user instruction only
  .claude/CLAUDE.md
  .claude/agents/maintainer.md
Due: none

chore(memory): record apply-fixes-directly feedback
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/feedback_apply_fixes_directly.md
Due: none

feat: make Electrolux API request timeout configurable (default 25s)
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/config.ts
  src/electrolux.ts
  tests/config.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/electrolux.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(test): respect inherited LOG_LEVEL in vitest env
  vitest.config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

feat!: stream appliance state via SSE livestream instead of polling
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  docs/MIGRATION.md
  src/config.ts
  src/electrolux.ts
  src/index.ts
  src/livestream-events.ts
  src/livestream.ts
  src/orchestrator.ts
  src/types.d.ts
  tests/config.test.ts
  tests/e2e/electrolux-api.e2e.test.ts
  tests/e2e/livestream.e2e.test.ts
  tests/electrolux.test.ts
  tests/fixtures/api-responses.ts
  tests/index.test.ts
  tests/livestream-events.test.ts
  tests/livestream.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

chore(memory): record SSE livestream design + phase 4 cutover notes
  .claude/agent-memory/engineer/MEMORY.md
  .claude/agent-memory/engineer/project_livestream_sse_transport.md
  .claude/agent-memory/engineer/project_phase4_cutover.md
Due: none

feat: restore polling baseline alongside SSE livestream (hybrid)
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  docs/MIGRATION.md
  src/config.ts
  src/electrolux.ts
  src/index.ts
  src/livestream.ts
  src/orchestrator.ts
  tests/config.test.ts
  tests/electrolux.test.ts
  tests/index.test.ts
  tests/livestream.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

docs: add SSE livestream branch status/handoff notes
  docs/sse-livestream-branch-status.md
Due: none

chore(memory): record SSE->hybrid pivot and branch status
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/project_sse_hybrid_status.md
Due: none

chore(deps): bump vitest to 4.1.9, pnpm to 11.8.0, fix CI alpine tag
  .claude/agent-memory/maintainer/dep_alpine_hardened_images.md
  .gitlab/ci/01_init.yml
  package.json
  pnpm-lock.yaml
  telemetry-backend/package.json
  telemetry-backend/pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release, update telemetry backend

refactor(config): single-source apiTimeoutSeconds validation
  src/config.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

test: resolve SonarCloud issues in test assertions
  tests/appliances/normalizers.test.ts
  tests/config.test.ts
  tests/orchestrator.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check

feat: send anonymous telemetry directly to self-hosted Aptabase
  README.md
  config.example.yml
  docker/docker-compose.example.yml
  docker/docker-compose.local.example.yml
  src/index.ts
  src/telemetry.ts
  src/version-checker.ts
  tests/e2e/version-checker.e2e.test.ts
  tests/telemetry.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

build: single-source Node/Alpine/sops/age versions via mise.toml
  .nvmrc
  mise.toml
  package.json
  scripts/sync-versions.sh
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

ci: deploy telemetry-backend with SOPS-decrypted env and guard version drift
  .gitlab/ci/02_test.yml
  .gitlab/ci/04_release.yml
Due: none

refactor: migrate to single-agent model (subagents → skills)
  .claude/CLAUDE.md
  .claude/agent-memory/auditor/MEMORY.md
  .claude/agent-memory/auditor/doc_sync_gaps.md
  .claude/agent-memory/engineer/MEMORY.md
  .claude/agent-memory/maintainer/MEMORY.md
  .claude/agent-memory/maintainer/dep_redis_v6.md
  .claude/agent-memory/maintainer/node_version_fnm.md
  .claude/agent-memory/maintainer/vuln_follow_redirects.md
  .claude/agent-memory/shared/MEMORY.md
  .claude/agent-memory/shared/audit_heuristics.md
  .claude/agent-memory/shared/dep_alpine_hardened_images.md
  .claude/agent-memory/shared/dep_atypes_node_pin.md
  .claude/agent-memory/shared/dep_biome_v25_migration.md
  .claude/agent-memory/shared/dep_override_dockerfile_workspace.md
  .claude/agent-memory/shared/feedback_apply_fixes_directly.md
  .claude/agent-memory/shared/feedback_delegate_by_default.md
  .claude/agent-memory/shared/feedback_using_keyword.md
  .claude/agent-memory/shared/pnpm_v11_build_approval.md
  .claude/agent-memory/shared/project_aptabase_telemetry.md
  .claude/agent-memory/shared/project_review_deferred.md
  .claude/agent-memory/shared/project_sops_secrets.md
  .claude/agent-memory/shared/reference_glab_ci_lint.md
  .claude/agent-memory/shared/vuln_esbuild_GHSA-gv7w-rqvm-qjhr.md
  .claude/agent-memory/shared/vuln_vite_GHSA-fx2h-pf6j-xcff.md
  .claude/agent-memory/shared/vuln_ws_GHSA-58qx-3vcg-4xpx.md
  .claude/agents/auditor.md
  .claude/agents/engineer.md
  .claude/agents/maintainer.md
  .claude/skills/audit-fix/SKILL.md
  .claude/skills/audit/SKILL.md
  .claude/skills/engineer/SKILL.md
  .claude/skills/maintain/SKILL.md
  docs/AI_DEVELOPMENT.md
Due: none

chore(deps): bump axios 1.18.1, biome 2.5.1, vite 8.1.0; pnpm 11.9.0
  package.json
  pnpm-lock.yaml
Due: initialise variables, bump version, install dependencies, test, lint, audit, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

fix(telemetry-backend): bound request body size and prune rate-limiter map
  .claude/agent-memory/shared/audit_heuristics.md
  telemetry-backend/src/rate-limit.ts
  telemetry-backend/src/server.ts
  telemetry-backend/tests/rate-limit.test.ts
  telemetry-backend/tests/server.test.ts
Due: update telemetry backend

chore: migrate GitLab project to the kirbodev namespace
  README.md
  docker/Dockerfile
  docs/CONTRIBUTING.md
  docs/HOME_ASSISTANT.md
  src/version-checker.ts
  tests/e2e/version-checker.e2e.test.ts
  tests/version-checker.test.ts
Due: initialise variables, bump version, install dependencies, test, lint, sonarcloud-check, try to build docker images, build and deploy docker images, create gitlab release

Path conditions:
  initialise variables: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  bump version: any of: .gitlab-ci.yml, docker-compose*.yml, Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  install dependencies: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  test: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  lint: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  audit: any of: .gitlab-ci.yml, package.json, pnpm-lock.yaml
  sonarcloud-check: any of: .gitlab-ci.yml, biome.jsonc, package.json, pnpm-lock.yaml, src/**/*, tests/**/*, tsconfig.json, vitest.config.ts, vitest.setup.ts
  try to build docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  build and deploy docker images: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  create gitlab release: any of: .gitlab-ci.yml, docker/Dockerfile, entrypoint.sh, package.json, pnpm-lock.yaml, src/**/*, tsconfig.json
  update telemetry backend: any of: .gitlab-ci.yml, telemetry-backend/**/*
